/* Header.module.css */

.header {
    width: 1400px;
    margin: 10px auto;
  }
  
  .logo {
    width: 74px;
    height: 28px;
    background-image: url('/public/images/spr_gnb24.png');
    background-repeat: no-repeat;
    background-size: 74px;
    cursor: pointer;
  }
  
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .headerRight {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .headerRight > * {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .nineDots {
    width: 24px;
    background-image: url('/public/images/spr_gnb24.png');
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: 6px -58px;
  }
  
  .headerB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .navbar > *,
  .headerB_Middle > *,
  .headerB_Right > * {
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .navbar > * {
    font-weight: 500;
    color: #777;
  }
  
  .navbar h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
  
  .headerB_Middle {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .headerB_Right {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .headerB_B {
    display: flex;
    align-items: center;
  }
  
  .headerB_B li {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.2s ease;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .headerB_B li.checked {
    background-color: #333;
    color: #ddd;
  }
  
  .headerB_B li:hover {
    background-color: #d3d3d3;
  }
  