.bannerBox>*{background-color: transparent;}
.bannerBox {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .title {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #222;
  }
  
  .stats div, .stats li {
    margin-bottom: 20px;
    color:#888;
  }
  
  .stats strong {
    color: #111;
    font-weight: 800;
  }
  